<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="br.com.askfood2">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="AskFood.Android" android:icon="@drawable/icon"></application>
</manifest>